{% extends 'base.html' %}
{% block content %}

  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'home/css/home.css' %}" />
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'home/css/home-md.css' %}" />
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'home/css/home-sm.css' %}" />


    <!-- LANDING PAGE / SECTION 1
      =========================================================================== -->

    <div class="container-fluid" id="landing">
      <div id="landing-text">
        North-East India under one canopy
      </div>
    </div>



    <!-- SECTION 2
      ============================================================================ -->

    <div class="container-fluid" id="domains">
      <h3>Our Domains</h3>
      <hr class="blue-underline" />
      <div class="container" id="domain-cards-container">
        <div class="row ">
          <div class="col-sm-12 col-md-6 col-lg-3 gap">
            <div class="card domain-cards">
              <img src="/static/home/images/travel.jpeg" class="card-img-top" alt="Travel Packages" />
              <div class="card-body">
                <h5 class="card-title">Travel Packages</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Expedita enim dolore, ex quos laudantium eveniet.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3 gap">
            <div class="card domain-cards">
              <img src="/static/home/images/rental.jpeg" class="card-img-top" alt="Rental Cars & Bikes" />
              <div class="card-body">
                <h5 class="card-title">Rental Cars & Bikes</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Expedita enim dolore, ex quos laudantium eveniet.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3 gap">
            <div class="card domain-cards">
              <img src="/static/home/images/taxi.jpeg" class="card-img-top" alt="Cab Services" />
              <div class="card-body">
                <h5 class="card-title">Cab Service</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Expedita enim dolore, ex quos laudantium eveniet.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-3 gap">
            <div class="card domain-cards">
              <img src="/static/home/images/camp.jpeg" class="card-img-top" alt="Camping Gears" />
              <div class="card-body">
                <h5 class="card-title">Camping Gears</h5>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Expedita enim dolore, ex quos laudantium eveniet.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- SECTION 3 / NE INDIA
      ========================================================================== -->

    <div class="container-fluid" id="ne-india">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-sm-12  no-gutters" id="banner">
            <div class="mainText">
              NORTH EAST INDIA
            </div>
            <div class="tag">
              The seven sisters
            </div>
            <hr class="blue-underline" />
          </div>

          <div class="col-lg-6 col-sm-12  no-gutters" id="grid-gallery">
            <div class="container">
              <div class="row">
                <div class="col-md-4 col-xs-12 thumb">
                  <div class="thumbImg" id="as">
                    <div class="thumbtext">
                      Assam
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-xs-12 thumb">
                  <div class="thumbImg" id="ar">
                    <div class="thumbtext">
                      Arunachal
                    </div>
                  </div>
                </div>
                <div class="col-md-4 col-xs-12 thumb">
                  <div class="thumbImg" id="mz">
                        <div class=" thumbtext">
                    Mizoram
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 thumb">
                <div class="thumbImg" id="ml">
                  <div class="thumbtext">
                    Meghalaya
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-xs-12 thumb">
                <div class="thumbImg" id="tr">
                  <div class="thumbtext">
                    Tripura
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-xs-12 thumb">
                <div class="thumbImg" id="nl">
                  <div class="thumbtext">
                    Nagaland
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-xs-12 thumb">
                <div class="thumbImg" id="mn">
                  <div class="thumbtext">
                    Manipur
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

