{% extends 'base.html' %}
{% block content %}

  <!-- CSS
    ============================================================================ -->
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'home/rent/css/rent-v1.css'  %}" />
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'home/rent/css/rent-md-v1.css'  %}" />
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'home/rent/css/rent-sm-v1.css'  %}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400," rel="stylesheet" />


  <!-- RENT VEHICLE
    ======================================================================= -->
   <div class="container-fluid" id="rentPage">
    <div class="options">
      <h3>Select your ride</h3>
      <hr class="blue-underline" />
      <div class="cards-container">
        <div class="overlay-or">OR</div>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-6">
            <a href="search/cars">
              <div class="card">
                <img src="/static/home/rent/images/rentalCar.jpeg" class="card-img-top" alt="Rent a Car" />
                <div class="card-body">
                  <span class="informative">Rent a Car</span>
                  <!-- <a href="../vehicle/index.html" class="btn btn-outline-dark">Rent a car</a> -->
                </div>
              </div>
            </a>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6">
            <a href="search/bikes">
              <div class="card">
                <img src="/static/home/rent/images/rentalBike.jpeg" class="card-img-top" alt="Rent a Car" />
                <div class="card-body">
                  <span class="informative">Rent a Bike</span>
                  <!-- <a href="../vehicle/index.html" class="btn btn-outline-dark">Rent a bike</a> -->
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}