<html>
    {% for ip in products %}
        <p>Product ID: {{ip.pk}}</p>
        <p>Product Name: {{ip.product_name}}</p>
        {% if ip.product_image %}
            <p>Product Image: {{ip.product_image.url}}</p>
        {% endif %}
        <p>Product Description: {{ip.product_description}}</p>

        <p>Stocks: {{ip.stocks.net_quantity}}</p>

        <p>Charges: {{ip.pid.charge}}</t></p>

        <p>***************</p>
        <br>
    {% endfor %}



    {% for pc in productprices.all %}
        <p>Price Category: {{pc.charge}}</p>
    {% endfor %}






    <h1>Welcome To Canopy</h1>

    <h2> Total cars available: {{num_cars}} </h2>

    <h3>ALL CARS</h3>
    <p>{{all_products}}</p>




    <br>
    <br>
    <br>
    <h3>Products: {{products}}</h3>
    <h3>My Cart: {{my_cart}}</h3>
    <h3>My entries: {{my_carts_current_entries}}</h3>
    <form method="POST" action="/test_view">{% csrf_token %}

        <input type="text" id="product_id" name="product_id" placeholder="Product Id"><br>
        <input type="text" id="product_quantity" name="product_quantity" placeholder="Quantity"><br>

        <button type="submit" class="save btn btn-default">Save</button>
    </form>
</html>