{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1>test ADMIN</h1>
<!--<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>-->
{% endblock %}

{% block nav-global %}
    {% load common_utils %}

    {%get_app_list%}

<!--    {% get_app_list as all_app_list %}
    {% if all_app_list %}
            <ul>
                {% for app in all_app_list %}
                    <li>
                        <a  href="{{ app.app_url }}">{{ app.name }}</a>
                            {% for model in app.models %}
                                {% if model.admin_url %}
                                    <a href="{{ model.admin_url }}">{{ model.name }}</a>
                                {% endif %}
                            {% endfor %}
                    </li>
                {% endfor %}
            </ul>
    {% endif %}-->
{% endblock %}