<html>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    {% load staticfiles %}
    <script type="text/javascript" src="{%static 'jquery-3.3.1.min.js'  %}"></script>


  <!--<script>-->
  <!--var booktype;-->
  <!--  $(document).on("change", "#ordertype", function() {-->
  <!--      console.log( $(this).val() );-->

  <!--      var order_type = $('#ordertype').val();-->
  <!--      booktype = order_type;-->
  <!--      alert (order_type);-->
  <!--</script>-->


  <p>ORDER: {{order_type}}</p>
  <p>PICKUP: {{pickup}}</p>

<!--<form method="post" enctype="multipart/form-data" action="/">-->
<!--{% csrf_token %}-->
<!--    <input id="ordertype" name="ordertype">-->
<!--    <input id="pickupdatetime" type="datetime-local" name="pickupdatetime">-->
<!--    <input type="datetime-local" name="dropdatetime">-->
<!--    <input type="submit" value="SEARCH">-->
<!--</form>-->

<form action="/search" method="post">
    {{ product_search_form }}
    {% csrf_token %}
    <input type="submit" value="SEARCH">
</form>





    <div	class="cart">
        {%	with	total_items=cart|length	%}
        {%	if	cart|length	>	0	%}
        Your	cart:
        <a	href="{%	url	"cart:cart_detail"	%}">
        {{	total_items	}}	item{{	total_items|pluralize	}},
        ${{	cart.get_total_price	}}
        </a>
        {%	else	%}
        Your	cart	is	empty.
        {%	endif	%}
        {%	endwith	%}
    </div>

    <Button onclick="location.href='{% url 'check_login' %}'">Book</Button>

    <Button onclick="location.href='{% url 'booking_history' %}'">Booking History</Button>

    <Button onclick="location.href='{% url 'customer:login' %}'"> Login</Button>

    <Button onclick="location.href='{% url 'customer:logout' %}'"> Logout</Button>

    <h1> Products Page</h1>
    {% for ip in products %}
        <p>Product ID: {{ip.pk}}</p>
        <p>Product Name: {{ip.name}}</p>
        {% if ip.image %}
            <p>Product Image: {{ip.image.url}}</p>
        {% endif %}
        <p>Product Description: {{ip.description}}</p>

        <p>Available: {{ip.stocks.net_quantity}}</p>

        <p> <b>Prices</b></h1>
        <p>Price per hour: {{ip.price_hour}}</p>
        <p>Price per day: {{ip.price_day}}</p>
        <p>Price per week: {{ip.price_weekly}}</p>

        <form action="{% url "cart:cart_add" ip.id order_type pickup drop %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <input type="submit" value="Add to cart">
        </form>

        <p>***************</p>
        <br>
    {% endfor %}



    <!--{% for pc in productprices.all %}-->
    <!--    <p>Price Category: {{pc.charge}}</p>-->
    <!--{% endfor %}-->






    <!--<h1>Welcome To Canopy</h1>-->

    <!--<h2> Total cars available: {{num_cars}} </h2>-->

    <!--<h3>ALL CARS</h3>-->
    <!--<p>{{all_products}}</p>-->




    <!--<br>-->
    <!--<br>-->
    <!--<br>-->
    <!--<h3>Products: {{products}}</h3>-->
    <!--<h3>My Cart: {{my_cart}}</h3>-->
    <!--<h3>My entries: {{my_carts_current_entries}}</h3>-->
    <!--<form method="POST" action="/test_view">{% csrf_token %}-->

    <!--    <input type="text" id="product_id" name="product_id" placeholder="Product Id"><br>-->
    <!--    <input type="text" id="product_quantity" name="product_quantity" placeholder="Quantity"><br>-->

    <!--    <button type="submit" class="save btn btn-default">Save</button>-->
    <!--</form>-->
</html>