{% extends 'base.html' %}
{% block content %}
  <!-- CSS
    ============================================================================ -->
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'product/css/vehicle-v1.css'  %}" />
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'product/css/vehicle-md-v1.css'  %}" />
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'product/css/vehicle-sm-v1.css' %}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400," rel="stylesheet" />

  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>

  <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>-->
  <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />-->



    <!-- SECTION 1/ RENT INFORMATION
    ====================================================================== -->
    <div class="container-fluid" id="rentInfo">

      <div class="container">
        <div class="row info">
          <div class="col-md-4 col-xs-12 ">
            <h5 class="drop">BOOKING TYPE</h5>
            <hr class="blue-underline bu" />
            <div class="fields">
              {% if order_type == "HR" %}
                <h5> Hourly </h5>
              {% endif %}

              {% if order_type == "DY" %}
                <h5> Daily </h5>
              {% endif %}

              {% if order_type == "WK" %}
                <h5> Weekly </h5>
              {% endif %}
            </div>
          </div>

          <div class="col-md-4 col-xs-12 ">
            <h5 class="pickup">PICKUP</h5>
            <hr class="blue-underline bu" />
            <div class="fields">
              {% if pickup %}
              <h5>{{ pickup }}</h4>
              {% endif %}
            </div>
          </div>

          <div class="col-md-4 col-xs-12 ">
            <h5 class="drop">DROP</h5>
            <hr class="blue-underline bu" />
            <div class="fields">
              {% if drop %}
              <h5>{{ drop }}</h4>
              {% endif %}
            </div>
          </div>

        </div>


        <!-- Recommended vehicles
        ======================================================================================= -->
        <div id="recomendation">
            <br>
          <h5>Vehicle Category</h5>
          <hr class="blue-underline" />
          <div class="row rideCards">
              {% for vehicle in products %}
            <div class="col-lg-3 col-md-6 col-xs-12 gutter">
              <div class="card">
                <img src={{vehicle.image.url}} class="card-img-top" />
                <div class="card-body">
                  <h5 class="card-title">{{vehicle.name}}</h5>
                  <p class="card-text">
                      {% if vehicle.price_hour %}
                    Rs. {{vehicle.price_hour}}/hour<br />
                    {% endif %}
                    Rs. {{vehicle.price_day}}/day<br />
                    {% if vehicle.price_week %}
                    Rs. {{vehicle.price_week}}/week
                    {% endif %}
                  </p>
                  <form action="{% url "cart:cart_add" vehicle.id order_type pickup drop %}" method="post">
                        {{ cart_product_form }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary center">
                            Add to cart
                        </button>
                  </form>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

{% endblock %}