{% extends 'base.html' %}
{% block content %}

  <!-- CSS
    ============================================================================ -->
    {% load staticfiles %}
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'product/css/vehicle.css'  %}" />
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'product/css/vehicle-md.css'  %}" />
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'product/css/vehicle-sm.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400," rel="stylesheet" />

  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>


<link href="{% static 'datetimepicker/css/datetimepicker.css' %}" rel="stylesheet">
<script src="{% static 'datetimepicker/js/datetimepicker.js' %}"></script>

    <!--JQUERY INLINE DATETIME PICKER-->
  <!--<link rel="stylesheet" type="text/css" href="{% static 'jdatetimepicker/jquery.datetimepicker.min.css' %}"/>-->
  <!--<script src="{% static 'jdatetimepicker/jquery.datetimepicker.full.js' %}"></script>-->



    <!-- SECTION 1/ RENT INFORMATION
    ====================================================================== -->
    <div class="container-fluid" id="rentInfo">

<form action="." method="post">

      <div class="container">
        <div class="row info">
          <div class="col-md-6 col-xs-12 ">
            <h5 class="pickup">PICKUP</h5>
            <hr class="blue-underline" />
            <div class="fields">
              <p>Date & Time:</p>

              <div id="pick"> </div>
              {{ product_search_form.pickup.as_hidden }}

            <script>
              $('#pick').dateTimePicker({
                dateFormat: "YYYY-MM-DD HH:mm"
                });
            </script>

              {% if pickup %}
                Selected: {{pickup}}
              {% endif %}
              <!--<input type="datetime-local" placeholder="yyyy-mm-dd" />-->
            </div>
            <!--<div class="fields">-->
            <!--  <p>Time:</p>-->
            <!--  {{ product_search_form.pickup }}-->
            <!--  <input type="time" placeholder="10:30 AM" />-->
            <!--</div>-->
          </div>
          <div class="col-md-6 col-xs-12 ">
            <h5 class="drop">DROP</h5>
            <hr class="blue-underline" />
            <div class="fields">
              <p>Date & Time:</p>
              <div id="drop"> </div>
              {{ product_search_form.drop.as_hidden }}
            <script>
              $('#drop').dateTimePicker({
                dateFormat: "YYYY-MM-DD HH:mm"
                });
            </script>
              {% if drop %}
                Selected: {{drop}}
              {% endif %}
              <!--<input type="date" placeholder="yyyy-mm-dd" />-->
            </div>
            <!--<div class="fields">-->
            <!--  <p>Time:</p>-->
            <!--  <input type="time" placeholder="10:30 AM" />-->
            <!--</div>-->
          </div>
        </div>
        <div class="row info action">
          <div class="col-12">
            <div class="form-group">
              <label for="exampleFormControlSelect1">Booking Type</label>
              {{ product_search_form.order_type }}
              <!--<select class="form-control" id="exampleFormControlSelect1">-->
              <!--  <option>Select your booking type</option>-->
              <!--  <option value="p/h">per hour</option>-->
              <!--  <option value="p/d">per day</option>-->
              <!--  <option value="p/w">per week</option>-->
              <!--</select>-->
            </div>
          </div>
          <div class="col-12">

{% csrf_token %}
                <button type="submit" value="SEARCH" class="btn btn-primary">
                  Search Rides
                </button>



          </div>
        </div>
        <hr />

</form>

      </div>
    </div>


  {% endblock %}
