{% extends 'base.html' %}
{% block content %}

{% load staticfiles %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'customer/css/register.css' %}" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,"
      rel="stylesheet"
    />

      <!-- Resigter
      ======================================================================= -->
      <div class="register-wrapper">
        <div class="reg-panel">

        <form class="customer-form" method="post">
          <p><b>Register</b></p>
          <div class="input-group flex-nowrap">
            <div class="input-group-prepend">
              <span class="input-group-text" id="addon-wrapping">Name:</span>
            </div>

            {{form.customer_name}}

            <!--<input-->
            <!--  type="text"-->
            <!--  class="form-control"-->
            <!--  placeholder="Enter your name"-->
            <!--  aria-label="name"-->
            <!--aria-describedby="addon-wrapping"/>-->
          </div>
          <div class="input-group flex-nowrap">
            <div class="input-group-prepend">
              <span class="input-group-text" id="addon-wrapping"
                >Phone: +91</span
              >
            </div>

            {{form.customer_phone}}
            <!--<input type="tel" class="form-control" placeholder="98765 43210" aria-label="phone" aria-describedby="addon-wrapping" />-->
          </div>
          <div class="input-group flex-nowrap">
            <div class="input-group-prepend">
              <span class="input-group-text" id="addon-wrapping">Email:</span>
            </div>

            {{form.customer_email}}
            <!--<input-->
            <!--  type="email"-->
            <!--  class="form-control"-->
            <!--  placeholder="Enter your email"-->
            <!--  aria-label="email"-->
            <!--  aria-describedby="addon-wrapping"/>-->
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Address:</span>
            </div>

            {{form.customer_address}}
            <!--<textarea-->
            <!--  placeholder="Enter Address"-->
            <!--  class="form-control"-->
              <!--aria-label="address">-->
              <!--</textarea>-->
          </div>
          {% csrf_token %}
          <button type="submit" class="btn btn-success">Done</button>
          <p>
            Already registered?
            <a href="/login">Login</a>
          </p>
        </form>
        </div>
      </div>

     {% endblock %}
